<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="../../../web/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shim.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container pt-huge">
      <h1 class="text-huge mb-none">
        This is a big title
      </h1>
      <p>
        Vivamus odio quam, aliquet eu ullamcorper vel, ullamcorper eu quam. Praesent in consequat erat. Curabitur mattis sodales dolor, vitae egestas arcu fermentum volutpat. Mauris augue massa, pulvinar sit amet elit non, suscipit maximus justo. Pellentesque tempor sapien libero, non faucibus nisi pretium sed. Curabitur fringilla vulputate porttitor. Morbi tempor est non mi laoreet, vel tincidunt neque feugiat. Donec eget turpis nec nisl sodales mollis.
      </p>
    </div>

    <script src="../../../web/assets/js/main.js"></script>

  </body>
</html>
