// Banner for home page
.hero-banner {
  background: $c-black;
  text-align: center;
  @include media-breakpoint-down(md) {
    background-image: none !important;
  }
  @include media-breakpoint-up(lg) {
    text-align: left;
    background: $c-white;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=");
  }
  .container{
    max-width: 900px
  }
  h2 {
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 28px !important;
    color: $c-white;
    font-weight: 700;
    font-size: 1.5em;
    @include media-breakpoint-up(lg) {
      margin-left: -20px !important;
      margin-right: 20px !important;
      margin-bottom: 0 !important;
      color: $c-black;
      font-weight: 400;
    }
  }
  .text-col{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  .video-col{
    margin: 0 0 0 auto;
    @include media-breakpoint-up(lg) {
      margin: 15px 0 13px auto;
    }
  }
  .video-cont {
    border: 4px solid $c-gray-dark;
    background: $c-gray-dark;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    border-radius: 4px;
    min-height: 200px;
    @include media-breakpoint-up(md) {
      min-height: 375px;
    }
    @include media-breakpoint-up(lg) {
      min-height: 150px;
    }
    cursor: pointer;

    .video-responsive {
      overflow: hidden;
      border: none;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("https://assets.topchats.com/images/youtube-thumb.jpg");

      iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        &.iframe-desktop {}

        &.iframe-mobile {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          display: block;
          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
      }
    }
  }
}

/* Email form  */
.form-cont {
  border-radius: 4px;

  .form-intro {
    letter-spacing: 0.5px;
    line-height: 1.5em;
    width: 100%;
    max-width: calc(80% - 15px);
    display: inline-block;
  }

  .form-ribbon {
    width: 100%;
    max-width: calc(25% - 14px);
    min-height: 60px;
    margin-top: -30px;
    display: inline-block;
    float: right;

    img {
      width: 100%;
    }
  }

  .formCollapsed {
    margin-top: $m-small;
    margin-bottom: $m-xsmall;

    .input {
      border: none;

      input {
        background: $c-white;
        border: none;
        font-size: 12px;
        color: $c-black;
        padding: 15px 14px;
      }
    }

    &-item:first-child {
      border-bottom-left-radius: 20px !important;
      border-top-left-radius: 20px !important;

      &:active,
      &:focus {
        border-bottom-right-radius: unset !important;
        border-top-right-radius: unset !important;
      }
    }

    &-item:last-child {
      transition: all 0.2s ease-in-out;
      border-bottom-right-radius: 20px !important;
      border-top-right-radius: 20px !important;
      font-size: 12px;
      letter-spacing: 1px;
      background-color: $c-warning;
      color: $c-black;

      &:hover {
        color: $c-warning;
        background-color: $c-black;
      }
    }
  }

  &-desk {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &-mob {
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .10);
    max-width: 330px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: $c-white;
    border: none;
    display: block;
    @include media-breakpoint-up(lg) {
      display: none;
    }

    .formCollapsed {
      .input {
        input {
          background-color: $c-gray-light;
        }
      }
    }
  }
}

/* Category Page Banner */
.category-banner{
  .container{
    text-align: center;
    transform: all 0.2s ease-in-out;
    @include media-breakpoint-down(md) {
      background-image: none !important;
    }
    @include media-breakpoint-up(lg) {
      text-align: left;
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=");
    }
    .text-xs{
      line-height: $lh-small;
      display: none;
      @include media-breakpoint-up(lg) {
        display: unset;
      }
    }
    #more {display: none;}
    .read-more{
      margin-left: 5px;
      text-transform: uppercase;
      border:none;
      font-weight: 700;
      text-decoration: underline;
      &:after{
        content:" ";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 3px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(https://assets.topchats.com/images/icon-chevron-down.svg);
      }
      &-expanded:after{
        transform: rotate(180deg);
      }
    }
  }
}
