.text--replace {
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
}

.cd-top {
  display: inline-block;
  z-index: 1000;
  position: fixed;
  bottom: 13px;
  right: 10px;
  height: 30px;
  width: 30px;
  @include media-breakpoint-up(lg) {
    bottom: 13px;
    right: 10px;
    height: 40px;
    width: 40px;
  }
  transform: rotate(20deg);
  box-shadow: 0 0 10px rgba(0,0,0,.07);
  background: url("https://assets.topchats.com/images/icon-chevron-down-red.svg") no-repeat center 50%;
  background-color: rgba(255,255,255,1);
  transform: rotate(180deg);
  border-radius: 4px;
  &-site{
    bottom: 100px;
    @include media-breakpoint-up(lg) {
      bottom: 13px;
    }
  }
}

.cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s,visibility 0.3s,background-color 0.3s;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}
